<form action="registration" method = "get">
 <input type="text" name="fullname" placeholder="Enter Your Name"><br>
 <input type="text" name="address" placeholder="Enter Your Address"><br>
 <input type="text" name="city" placeholder="Enter Your City"><br>
 <input type="text" name="state" placeholder="Enter Your State"><br>
 <input type="text" name="zipcode" placeholder="Enter Your Zip Code"><br>
 <input type="text" name="country" placeholder="Enter Your Country"><br>
 <input type="email" name="email" placeholder="Enter Your Email"><br>
 <input type="text" name="user" placeholder="Enter User ID" required><br>
 <input type="password" name="pass" placeholder="Enter Password" required><br>
  <input type="submit" value="Register">

 </form>
